// COLORS
$color-primary: #e400ff;
$color-primary--dark: #a000b3;
$color-primary--light: #f280ff;
$color-secondary: #5300d7;
$color-incorrect__answer: #d21456;

// MEDIA QUERIES
$bp-laptop-large: 90em; // 1440px / 16
$bp-laptop-small: 68.75em; // 1100px / 16
$bp-tablet: 55.31em; // 885px / 16
$bp-phone: 42.19em; // 675px / 16
