/* Question Component Styles */

.questionContainer {
  position: relative;
  color: #fff;
  background: #264653;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  align-self: center;
  padding: 6px;
  text-align: center;
  width: 85%;
}

.questionContainer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, #e9c46a 0%, #e9c46a 25%, #6abab1 50%, #2a9d8f 70%, #227e72 100%);
}

@media (max-width: 90em) {
  .questionContainer {
    width: 95%;
  }
}

@media (max-width: 55.31em) {
  .questionContainer {
    width: 70%;
  }
}

@media (max-width: 42.19em) {
  .questionContainer {
    width: 65%;
  }
}

.question {
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  padding: 1rem;
}

.question--underlined {
  text-decoration: underline;
}

.questionWorth {
  align-self: center;
  font-weight: 600;
}

@media (max-width: 42.19em) {
  .questionWorth {
    font-size: 1.3rem;
  }
}
