/* Score Component Styles */

.score {
  grid-row: score-start/copyright-start;
}

.score__text {
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.score__amount {
  color: white;
}

.highscore__text {
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
